.container {
  width: clamp(50px, 18.5vw, 80px);
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--subAccent);
  border-radius: 0.1rem;
  color: var(--text);
}

.month {
  font-size: var(--fontMd);
  margin: 0.2em 0;
  text-transform: capitalize;
}

.disabled {
  border: 2px solid #595959;
  color: #bfbfbf;
}
