.button {
  color: var(--text);
  font-size: var(--fontMd);
  font-variant: small-caps;
  border: none;
  background-color: var(--subAccent);
  border-radius: 1rem;
  padding: 0.5em 1em;
}

.arrow {
  font-size: var(--fontSm);
  margin-left: 0.4em;
}

.disabled {
  background-color: var(--disabled);
  transition: background-color 0.25s ease-in-out;
}
