.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  width: clamp(240px, 75%, 300px);
  min-height: 150px;
  max-height: 290px;
  box-sizing: border-box;
  background-color: var(--subAccent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: scroll;
  z-index: 12;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.content p {
  font-variant: small-caps;
  font-size: var(--fontMd);
  margin: 0 0 0.7em;
}

.content button {
  width: 75%;
  padding: 0.4em 0;
  font-size: var(--fontSm);
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: transparent;
  color: var(--text);
  border: 1.5px solid var(--text);
}

.Footer {
  width: 100%;
  margin-top: 1.2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Footer button {
  padding: 0.3em 0.8em;
  border: 1.5px solid var(--text);
  background-color: var(--main);
  border-radius: 1rem;
  color: white;
  font-size: var(--fontSm);
  font-variant: small-caps;
  font-family: var(--fontOne);
  letter-spacing: 1px;
}
