.container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year {
  color: var(--text);
}

.months {
  width: var(--contentWidth);
  display: flex;
  flex-wrap: wrap;
}
